@media only screen and (max-width: 1200px) {
    .display-3 {
        font-size: 4.15rem;
    }
}

@media only screen and (max-width: 992px) {
    .display-3 {
        font-size: 3.10rem;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        /*background: rgba(0, 0, 0, 0.5);*/
        background: #fff;
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 24px;
        line-height: 0.3;
        background: #fff;
    }
    .navbar-nav li {
        padding: 10px 5px 10px 5px;
    }
    .director-message {
        padding-top: 70px;
    }
    .display-3 {
        font-size: 2.30rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }
    .footer-list-anchor {
        font-size: 1.1em
    }
    .footer-social-connect {
        font-size: 2.5em
    }
    .footer-social-overlap>a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
    .navbar-nav li {
        padding: 10px 5px 10px 5px;
    }
    .display-3 {
        font-size: 2.10rem;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }
    .footer-list-top {
        width: 100%
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em
    }
    .footer-social-section {
        justify-content: center
    }
    .footer-social-section::after {
        top: 25%
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 20px;
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px
    }
    .w-100 {
        height: 100%;
    }
    .director-message {
        padding-top: 70px;
    }
    .display-3 {
        font-size: 1.85rem;
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap>a {
        margin: auto
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 0;
    }
    .footer-bottom-rights {
        display: block
    }
    .w-100 {
        height: 100%;
    }
    .director-message {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-social-connect {
        font-size: 2.4em
    }
    .footer-social-overlap>a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
    .admisionprofile h1 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.001em;
        color: #00723f;
    }
    .w-100 {
        height: 100%;
    }
    .director-message {
        padding-top: 70px;
    }
}