/* To body text */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/***/

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/* Paired fonts */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import('normalize.css');

/* UABC OFFICIAL COLORS */

.text-green {
    color: #00723f;
}

.text-ochre {
    color: #DD971A;
}

.text-ochre-light {
    color: #febe10;
}

.text-blue {
    color: #20419A;
}

.text-black {
    color: #000;
}

.text-fim {
    color: #780B4E;
}


/* Gradients colors */

.ochre-gradient {
    background: linear-gradient(to bottom, #fffefd, #ffead4, #fbd6ab, #f5c383, #ecb05b, #ebab48, #e9a534, #e6a018, #eca716, #f2af15, #f8b613, #febe10);
}


/*********************************/

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    /*background-color: #2c3e50;*/
}

.text-body {
    line-height: 1.5;
    font-size: 1.125rem;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}

.carousel-caption h6 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bdc3c7;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: 'BioRhyme', serif;
}

.spanlegend {
    background-color: #2c3e50;
    padding: 15px;
    line-height: 1.9;
}

.spanlegend-trasnparent {
    background-color: #2c3e50ad;
    padding: 15px;
    line-height: 1.9;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 2.6;
    font-family: poppins;
}

.carousel-caption a {
    text-transform: uppercase;
    /*background: #262626;*/
    background: #7d114f;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.carousel-caption a:hover {
    text-decoration: none;
}

.navbar-nav li {
    padding: 16px 20px 16px 20px;
}

.navbar-nav a {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: 500;
    /*font-weight: bold;*/
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-ligth .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    /*color: #fff;*/
    /*color: #3CD500;*/
    /*color: #febe10;*/
    color: #008835;
}

.navbar-light .navbar-nav .nav-link {
    /*color: #fff;*/
    /*color: #41cd52;*/
    /*color: #febe10;*/
    color: #008835;
}


/* Menu direction on mobile screen */

.navbar-nav {
    text-align: left;
}

.nav-link {
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    /*color: #fff !important;*/
    /*color: #febe10 !important; */
    color: #3CD500 !important;
}


/* Slider image size fixed */

.w-100 {
    height: 100vh;
}


/*
@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        /*background: rgba(0, 0, 0, 0.5);
        background: #fff;
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 24px;
        line-height: 0.3;
        background: #fff;
    }
    .navbar-nav li {
        padding: 10px 5px 10px 5px;
    }
}
*/

.grey-bg {
    background-color: #F5F7FA;
}

html,
body {
    height: 100%
}

body {
    /* font: 11px "Open Sans", sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    /*This justify-content is essentially unnecessary in Firefox and Chrome due to the flex: 1 1 auto on the main.  However, it's needed to push the footer down on IE11*/
    justify-content: space-between
}

ul {
    list-style: none
}

a {
    text-decoration: none
}


/********************************
     CSS undergraduate header
*********************************/

.undergraduate {
    font-family: 'Roboto Slab', serif;
    color: #2c3e50;
    background-image: linear-gradient(to right, #dd971a, #e39e19, #eaa517, #f0ad15, #f6b413, #e2b408, #ceb305, #bab20b, #8ba51e, #60962d, #388438, #00723f);
    /*background-image: linear-gradient(to right, #7e7e6c, #989875, #b4b37e, #d0ce86, #eeea8e);*/
    margin-top: 60px;
}

.undergraduate h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.undergraduate-blue {
    /*background-image: linear-gradient(to right, #20419a, #154ea2, #0a5aa9, #0966af, #1471b4, #1c78b8, #247fbd, #2c86c1, #2e8ac7, #308fce, #3293d4, #3498db);*/
    /*background-image: linear-gradient(to right, #182c61, #19306b, #1a3476, #1c3880, #1d3c8b, #234c99, #2c5da6, #366db3, #578dc1, #80abce, #adc9da, #dfe6e9);*/
    background-image: linear-gradient(to right bottom, #ecf0f1, #b5d2df, #82b3d1, #5592c4, #3070b5, #265fa8, #204d9a, #1d3c8b, #1c3880, #1a3476, #19306b, #182c61);
}


/********************************
     CSS about opcions header
*********************************/

.about-header {
    font-family: 'Roboto Slab', serif;
    color: #3174b8;
    min-height: 35vh;
    background-image: linear-gradient(to right, #dd971a, #e39e19, #eaa517, #f0ad15, #f6b413, #e2b408, #ceb305, #bab20b, #8ba51e, #60962d, #388438, #00723f);
    /*background-image: linear-gradient(to right, #7e7e6c, #989875, #b4b37e, #d0ce86, #eeea8e);*/
    margin-top: 120px;
}

.banner-image {
    background-position: 50% 50%;
    background-size: cover;
    height: 350px;
}


/************************************
     CSS undergraduate programs cards
************************************/

.shadow {
    box-shadow: 0 19px 38px rgba(39, 38, 38, 0.3), 0 15px 12px rgba(151, 93, 93, 0.22);
    border: none;
}

.clouds {
    background-color: #f5f6fa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.perks .box {
    background: #FFF;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.perks h3 {
    font-size: 26px;
}

.perks .box-dark {
    background: #004982;
    color: #ffffff;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.perks .box-dark:hover {
    box-shadow: 0 0 6px #3eadf3;
    background: #3eadf3;
}

.perks .box-light {
    background: #3eadf3;
    color: #ffffff;
    border-radius: 10px;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.perks .box-light:hover {
    box-shadow: 0 0 6px #004982;
    background: #004982;
}

.perks .box {
    margin: 20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.perks .fa {
    color: #3eadf3;
}

.box-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
}

.card-dark {
    background-image: linear-gradient(to right, #20419a, #154ea2, #0a5aa9, #0966af, #1471b4, #1c78b8, #247fbd, #2c86c1, #2e8ac7, #308fce, #3293d4, #3498db);
    color: #ffffff;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card-dark h3,
.card-deepdark h3 {
    color: #ffd452;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}

.fa:hover {
    color: chartreuse;
}

.card-dark:hover,
.card-deepdark:hover {
    box-shadow: 0 19px 38px rgba(39, 38, 38, 0.3), 0 15px 12px rgba(151, 93, 93, 0.22);
    background-image: linear-gradient(to right top, #7d114f, #a62649, #c5463d, #d86d2c, #dd971a);
}

.card-dark:hover h3 {
    color: #FFF720;
    font-weight: 700;
}

.card-deepdark {
    background-image: linear-gradient(to right top, #101a34, #12244c, #152d65, #19377f, #20419a);
    color: #ffffff;
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card-link:hover {
    text-transform: none;
}


/********************************
        CSS footer class
********************************/

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}


/* Anchor's css */

.generic-anchor,
.generic-anchor:visited {
    /*color: #9bdf4a;*/
    color: #ffffff;
}

.generic-anchor:hover,
.generic-anchor:focus {
    color: #febe10;
    text-decoration: none;
}

.social-anchor,
.social-anchor:visited {
    color: #febe10;
}

.social-anchor:hover,
.social-anchor:focus {
    color: #2ecc71;
}

.fim-footer {
    color: #000;
    /*
  color: #8db9ed;
  &:visited {
      color: #8db9ed;
  }
  &:hover {
      color: $primary-line-color
  }
  */
}


/*This main is mostly to push the footer to the bottom and for demo purposes.*/

main {
    flex: 1 1 auto; //For IE11
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: rgb(155, 155, 155);
    line-height: 1
}

footer {
    /*background: linear-gradient(93.4deg, #4d76d5 8.16%, #5bd9ff 37.71%, #54fdd4 64.19%, #5ee58d 87.62%, #1af563 99.34%);*/
    /*background: linear-gradient(93.4deg, #1F3D83 8.16%, #00A7DA 37.71%, #00C897 64.19%, #1BA94C 87.62%, #068932 99.34%);*/
    /*background-image: linear-gradient(to bottom, #20419a, #0073d0, #009ecd, #00c28e, #33dd1a);*/
    /*background-image: linear-gradient(to bottom, #130f40, #1a1a55, #1f266b, #213382, #20419a);*/
    /*background-image: linear-gradient(to right, #b3eb50, #96d544, #7abf38, #5ea92d, #429421);*/
    /*background-image: linear-gradient(to right, #004f2f, #056031, #167130, #2b832b, #429421);*/
    /*background-image: linear-gradient(to right, #004f2f, #024a29, #034623, #04411d, #053d17);*/
    background: #093028;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: auto;
    width: 100%
}

.footer-list-top {
    width: 25.00%;
    padding: 0px;
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list-header {
    /*padding: 10px 0 5px 0;*/
    padding: 30px 10px 5px 10px;
    /*color: #fff;*/
    color: #febe10;
    font: 1.3vw 'Libre Baskerville', serif;
}

.footer-list-anchor {
    /*font: 1.3em "Open Sans", sans-serif;*/
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 12px;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
    margin-bottom: 60px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px)
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55, 55, 55);
    padding: 0 20px
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px
}

.footer-social-overlap>a {
    font-size: 3em
}

.footer-social-overlap>a:not(:first-child) {
    margin-left: 0.38em
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #000;
    margin-top: 10px
}

.footer-bottom-section>div:first-child {
    margin-right: auto
}

.footer-bottom-wrapper {
    font-size: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #fff
}

.footer-fim-address {
    display: inline;
    font-style: normal
}

.address {
    /*border-bottom: 1px solid #fff;*/
    font-family: 'Roboto Slab', serif;
    /*color: #84fbb4;*/
    color: #33dd1a;
    font-weight: 400;
    font-size: 14px;
    padding-left: 230px;
}

.address a {
    color: #fff;
}

.address i {
    margin-right: 10px;
    color: #febe10;
}


/********************************
      End footer CSS class
*********************************/


/****************************************
     CSS Carrousel undergraduate programs
*****************************************/

.undegraduate-space {
    margin-top: 120px;
    /*min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;*/
}

.card-photos {
    margin: 0px 0px;
}

.card-text {
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Heveltica', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
}


/*
@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em
    }
    .footer-list-anchor {
        font-size: 1.1em
    }
    .footer-social-connect {
        font-size: 2.5em
    }
    .footer-social-overlap>a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
    .navbar-nav li {
        padding: 10px 5px 10px 5px;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em
    }
    .footer-list-top {
        width: 100%
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em
    }
    .footer-social-section {
        justify-content: center
    }
    .footer-social-section::after {
        top: 25%
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 20px;
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap>a {
        margin: auto
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 0;
    }
    .footer-bottom-rights {
        display: block
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-social-connect {
        font-size: 2.4em
    }
    .footer-social-overlap>a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}
*/


/* Placeholder photo */

.bd-placeholder-img-lg {
    font-size: 3.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}